/initial/*.classpath
/initial/.project
/initial/.settings/org.eclipse.core.resources.prefs
/initial/.settings/org.eclipse.jdt.core.prefs
/initial/.settings/org.eclipse.m2e.core.prefs
/initial/.settings/org.hibernate.eclipse.console.prefs
