<h2>New Person</h2>

<div class="row" ng-controller="PersonAddControler">
<div class="col-md-6">
  <form name="AddNewForm" id="add-new-form" method="post" action="">
    <div class="form-group">
  	<label for="name">First Name</label>
  	<input class="form-control" type="text" ng-model="person.firstName" required />
    </div>
    <div class="form-group">
  	<label for="name">Last Name</label>
  	<input class="form-control" type="text" ng-model="person.name" required />
    </div>    
     <button class="btn btn-primary" ng-disabled="AddNewForm.$invalid || isUnchanged(person)" id="add-new-btn" ng-click="New_Person(person)">Save</button>
     <a href="/#/" class="btn">Cancel</a>
   </form>
</div>
</div>